.calculator {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px 48px 48px 48px 48px;

  width: 235px;
  height: 320px;
  
  overflow: hidden;
  border-radius: 4px;
}